.container {
  --margin-inline: clamp(1.5rem, calc(4.07vw + 0.55rem), 2.5rem);
  display: flex;
  justify-content: center;
  gap: var(--margin-inline);
  margin-inline: var(--margin-inline);
}

.info {
  --arrow-height: clamp(0.5rem, calc(2.036vw + 0.023rem), 1.25rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 3.5rem;
  width: calc(0.25 * (100vw - 5 * var(--margin-inline)));
  margin-top: var(--arrow-height);
  padding: clamp(0.625rem, calc(1.527vw + 0.267rem), 1rem);
  background-color: hsla(203, 25%, 90%, 1);
  border-radius: clamp(0.3125rem, calc(1.272vw + 0.014rem), 0.625rem);
}

.info[data-currentplayer] {
  background-color: hsla(37, 98%, 53%, 1);
}
.info[data-currentplayer]::before {
  content: '';
  position: absolute;
  top: calc(-1 * var(--arrow-height) + 1px);
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-right: var(--arrow-height) solid transparent;
  border-left: var(--arrow-height) solid transparent;
  border-bottom: var(--arrow-height) solid hsla(37, 98%, 53%, 1);
}

.label {
  color: hsla(203, 22%, 54%, 1);
  font-size: clamp(0.9375rem, calc(0.763vw + 0.758rem), 1.125rem);
  line-height: clamp(1.1875rem, calc(0.763vw + 1.008rem), 1.375rem);
}

.value {
  color: hsla(205, 30%, 27%, 1);
  font-size: clamp(1.5rem, calc(2.035vw + 1.023rem), 2rem);
  line-height: clamp(1.875rem, calc(2.544vw + 1.278rem), 2.5rem);
}

@media screen and (min-width: 35.5rem) {
  .container {
    gap: 1.5vw;
  }
  .info {
    align-items: start;
    width: 23.7%;
  }
}

@media screen and (min-width: 64rem) {
  .container {
    gap: min(2vw, 2rem);
  }
  .info {
    --bottom-height: 2.25rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: min(23%, 16rem);
    margin-bottom: var(--bottom-height);
  }
  .info[data-currentplayer]::after {
    content: 'current turn';
    position: absolute;
    bottom: calc(-1 * var(--bottom-height));
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-transform: uppercase;
    color: hsla(206, 45%, 15%, 1);
    font-size: 0.8125rem;
    line-height: 1rem;
    letter-spacing: 0.3125rem;
  }
}
